<!DOCTYPE html>
{% extends 'base_preregister.html' %}
{% block content %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
</head>
<body>
  <div class="container">

    <h2>Password Reset</h2>
    <p class='text-primary' style="margin-left:10px;">Input your email below, and we will send you a link to reset your password.</p>
    <p>Check your email, including the spam folder.</p>
    {% if messages %}
      {%for message in messages%}
      <p class='text-danger'>{{message}}</p>
      {% endfor %}
  {% endif %}
    <form method="POST" id="reset-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="email" class="text-info" style="margin-left:10px;">Email:</label>
            <input style="margin-left:10px;" type="email" id="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px;">Send Reset Email</button>
    </form>
  </div>

  <script>
    $(document).ready(function() {
      $('#reset-form').on('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // You can add an AJAX request here to submit the form asynchronously
        // After the form is successfully submitted, display the alert
        alert("A reset link will be sent to your email address. Please check your inbox.");

        // Optionally, you can submit the form via AJAX
        this.submit();
      });
    });
  </script>
</body>
{% endblock content %}
